.citySearch {
    background-color: lightgray;
    padding-top: 20px;
    
}

#cityInfo {
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
}

#forecast {
    padding: 20px;
    margin: 20px; 
}

#cityName {
    font-size: 40px;
}

.safeUv {
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 2px;
}

.dangerUv {
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 2px;
}

.forecastCard {
    background-color: lightskyblue;
    color: white;
    height: 275px;
    width: 175px;
    margin: 5px;
    display: inline-block;
    padding: 20px;
}

.fDate {
    font-weight: bolder;
    font-size: 20px;
}

.fImg {
    height: 50px;
    margin-left: 25%;
    margin-bottom: 30px;
}
